
<div >
    <div class="nice-boxes">
        <div class="back-box"></div>
        <div class="front-box"></div>

        <div class="app-searchbar">

           <div class="searchbar-div">
                <label for="search">Search:</label><br>
                <input id="search" [(ngModel)]="searchbar" placeholder="Enter a Ticker">
                <p>Entered text: {{searchbar}}</p>
                <span>
                    <button (click)="goToPage()" id="search" class="mainButton" type="button">Search</button>
                    <button id="search" class="mainButton" type="button">I'm Feeling Lucky</button>
                </span>
            </div> 

        </div>

    </div>
</div>

