.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  margin: auto;
  /* justify-content: space-around; */
  /* align-items: center; */
}

.text-style {
  font-family: "SF Pro Text";
  color: white;
}
