.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  margin: auto;
  /* justify-content: space-around; */
  /* align-items: center; */
}

.text-style {
  /* font-family: Arial, Helvetica, sans-serif; */
  color:rgb(58, 54, 54);
}
