/* You can add global styles to this file, and also import other style files */
body {
  /* background-color: #343434; */
  /* height: 1080px; */
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 228, 1) 100%
  );
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./assets/fonts/SFProText-Bold.woff2") format("woff2"),
    url("./assets/fonts/SFProText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./assets/fonts/SFProText-Regular.woff2") format("woff2"),
    url("./assets/fonts/SFProText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
